body {
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-dark{
  background-color: #CA0E0E !important;
}
.navbar-brand{
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;


}
h1{
  color: #F7F7F7
}
